C 0 0 "VDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "ADDR" 0 -100 0 0 60 0 L
X "PIN_TEXT" "ADDR" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GND" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 600 -700 "EP" 600 -700 0 0 60 0 L
X "PIN_TEXT" "EP" 630 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -500 600 -700 -1 0
C 1200 0 "SDA" 1200 0 0 0 60 0 R
X "PIN_TEXT" "SDA" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "INT" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "INT" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "SCL" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "SCL" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
L 200 100 1000 100 -1 0
L 1000 -500 1000 100 -1 0
L 1000 -500 200 -500 -1 0
L 200 100 200 -500 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

